.PublicPage__container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.PublicPage__header{
    width: 100%;
    max-height: 100px;
    background-color: #2a2a2b;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
/* CONTENEDOR DE LOGO Y TITULO */
.PublicPage__content__logo{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
/* TITLE */
.PublicPage__title{
    color: #fff
}
/* LOGO */
.PublicPage__logo{
    width: 50px;
    height: 50px;
    object-fit: 1/1;
}

/* WHATSAPP */
.PublicPage__whatsapp{
    background-color: rgb(14, 192, 68);
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}

.PublicPage__main{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: .3rem;
}   