.modalOpen{
    opacity: 1;
    pointer-events: all;
    transition: .4s;
    z-index: 10;
    background: #000000e5;
}

.modalClose{
    opacity: 0;
    pointer-events: none;
    transition: .4s;
}

.modal__background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content{
    height: auto;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    min-height: 250px;
    z-index: 30;
    border-radius: 10px;
    border: solid 2px #fff;
    box-shadow: 0 0 10px #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem;
}
.modal__h1{
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 1.3rem);
    margin: 0;
    padding: 0;
}
.modal__p{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: clamp(1.2rem, 1vw, 1rem);
}
.modal__div__botones{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.modal__botones{
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #918f8f;
    font-size: clamp(.9rem, 1vw, .8rem);
    &:hover{
        background-color: #b8b6b6;
    }
}