.SinDepartamentos__container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.SinDepartamentos__div{
    border-radius: 10px;
}

.SinDepartamentos__img{
    width: 300px;
    height: 300px;
}
